
@media  (max-width: 1600px) {
    .container {
      max-width: 900px;
    }
  
    .main-area__header {
      min-width:  900px;
    }
  
    .main-area__content {
      min-width:  900px;
    }
}

@media  (max-width: 1350px) {
    .container {
      max-width:  1200px;
    }
  
    .sidebar {
      width: 200px;
    }
  
    .main-area {
      margin-left: 200px;
    }
  
    .main-area__header {
      min-width: 760px;
    }
  
    .main-area__content {
      min-width: 760px;
    }
}

@media  (max-width: 1080px) {
  .container {
    max-width:  750px;
  }

  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar--open {
    transform: translateX(0);
  }

  .sidebar__close-btn {
    display: flex;
  }

  .main-area {
    margin-left: 0px;
  }

  .mobile-nav__btn {
    display: block;
  }
}

@media  (max-width: 875px) {
  .container {
    max-width:  560px;
  }

  .main-area__header,
  .main-area__content {
    min-width: 0
  }
}

@media  (max-width: 612px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
  }

  td {
    position: relative;
    //padding-left: 50%;
    text-align: left;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    top: 10px;
    font-weight: bold;
    white-space: nowrap;
  }
}
  

