//colors
$color-white: #ffffff;
$color-blue1: #0d6efd;
$color-blue2 :#6495ED;
$color-black: #000000;
$color-gray: #d6d7d8;
$color-red: #ff0000;



//app
$accent-color: $color-blue1;
$burger-icon-color: $color-black;
$border-color: #eeeef0;