.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    background-color: rgba(0,0,0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    opacity: 0;
}

.modalBody {
    background-color: $color-white;
    width: 400px;
    height: auto;
    padding: 20px;
}

.modalBodyHeader {
    margin-bottom: 20px;
}

.modalBodyMain:not(:last-child) {
    width: 100%;
    margin-bottom: 20px;
}

.modalBodyFooter {
    button {
        background-color: $accent-color;
        color: $color-white;
        border: none;
        padding: 10px 20px;
    }
}

.modalBodyBtnClose {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
 
    border: none;

    img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        fill: rgb(204, 205, 206);
    }
}

.visible {
    transform: translateY(0%);
    opacity: 1;
}

