.pagination {
    span {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.pagination__btn {
    padding: 5px 10px;
    background-color: #fff;
    border: #888 1px solid;
    cursor: pointer;
}